@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #09e4bfbd;
}

body header {
    background: #1510ad;
}

body footer {
    background: #e4d207;
}

h1 {
    text-align: center;
} 

p {
    font-style: italic;
    color: #f34105bd;
}

img {
    border: 5px solid #555;
}

ul li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}
/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */